.container-fluid {
   width: 930px;
   height: 60px;
}

.navbar-collapse > ul {
   width: 100%;
   justify-content: right;
}

.header-bg-color {
   background-color: var(--bs-primary);
}

.header-text-color {
   color: var(--clr-navbar-color);
   font-weight: 600;
}

.header-text-color:hover {
   color: var(--clr-navbar-hover-color);
}

.img-logo {
   height: 60px;
}

body {
   text-align: center;
}