body {
   padding-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
   z-index: 99;
}

.img-desktop,
.img-mobile {
   height: 100%;
   width: 100%;
}

.img-mobile{
   display: none;
}

